{% extends "::basepage.html.twig" %}

{% block contenaire %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-section padding-left padding-right">
                    <div class="header-section__content header-section__content--breadcrumbs">
                        <div class="header-section__title-wrap--breadcrumbs"><h1 class="header-section__title">Circuits : Dernier Munite</h1></div><div class="breadcrumbs-wrap"><div class="breadcrumbs"><ul><li><a href="{{ path('indexpath') }}">Home</a></li><li>Circuits</li></ul></div></div>				</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container layout-container margin-top margin-bottom">


        <div class="row">
            <main class="col-md-9" role="main">




                <div class="atgrid">
                    <div class="row atgrid__row">

                    </div>
                </div>
            </main>
            <aside class="col-md-3 sidebar" role="complementary">
                {{ include("appboxvoyageBundle::treevoyagewest.html.twig") }}

            </aside>
        </div>
    </div><!-- .container -->
{% endblock %}