<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}PDCplatform{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
</head>
<body>

{% for liste in list %}

    voyage:{{ liste.id }}
    {{ liste.nbrplacetotal }}
    {{ liste.nbrplacereser }}
{% endfor %}

</body>
</html>